@media all and (max-width:1000px){
.tentang-kami img{
 height:50%;
}
.btn-name{
    width:50%; margin-bottom:10px;
    flex:auto;margin:auto;
    width:50%;
    }
.tentang-kami{
    flex:auto;height:310px;
}
}
@media all and (max-width: 670px) {
    .tentang-kami{
        height:400px;
    }
    .tentang-kami p{
        font-size:75%;
    }
    .tentang-kami img{
        height:50%;
       }
    .btn-name{
    flex:auto;margin:auto;
    width:50%;
    }
  }
